@import url('https://afeld.github.io/emoji-css/emoji.css');
$white: #fff;
$num: 1;
$aqua: #00CED1;
$blueberry: #2575fc;
$grape: #6a11cb;
$darkcloud: #8f959a;

* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/background.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;

    .board {
        text-align: center;

        h1 {
            text-align: center;
            color: #fff;
            font-size: 48px;
            font-family: "Pacifico";
            font-weight: 400;
        }

        .create-column {
            font-family: "Quicksand";
            font-weight: 400;
            font-size: 24px;
            border-radius: 12px;
            background-color: rgb(6, 174, 216);
            color: #fff;
            padding: 10px;
            border: 2px solid $white;
            background-image: linear-gradient(135deg, #19b7c3, #c799a4, 55%, transparent 50%);
            min-width: 160px;
            min-height: 50px;
            cursor: pointer;
            background-color: inherit;
            background-position: 100% 0;
            background-size: 300%;
            transition: 0.4s;

            &:hover {
                background-position: 0 100%;
                color: $white;
                border: 2px solid rgb(6, 174, 216);
            }
        }

        .column-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            
            .column {
                padding: 20px;
                background-color: rgba(224, 223, 223, 0.3);
                border-radius: 10%;
                margin: 25px;
                min-width: 210px;

                .column-title {
                    font-family: "Quicksand";
                    font-weight: 400;
                    color: $white;
                    font-size: 36px;
                    display: inline-flex;
                    margin-bottom: 0;
                }

                .btn-delete-card {
                    font-family: "Quicksand";
                    font-weight: 400;
                    font-size: 12px;
                    border-radius: 50%;
                    color: #027e9a;
                    border: 2px solid #027e9a;
                    background-image: linear-gradient(135deg, #19b7c3, 55%, transparent 50%);
                    cursor: pointer;
                    background-color: inherit;
                    background-position: 100% 0;
                    background-size: 300%;
                    transition: 0.4s;
                    margin: 5px;

                    &:hover {
                        background-position: 0 100%;
                        color: $white;
                        border: 2px solid #19b7c3;
                    }

                    margin-left: 10px;
                }

                .btn-delete {
                    @extend .btn-delete-card;
                    border: 2px solid $white;
                    color: $white;
                }

                .add-card {
                    @extend .btn-delete-card;
                    font-size: 16px;
                    padding: 10px;
                    border-radius: 12px;
                    border: 2px solid $white;
                    color: $white;
                }

                .column-card-list {
                    color: #027e9a;
                    background-color: $white;
                    border-radius: 12px;
                    margin: 15px;
                    min-height: 52px;

                    .card {
                        .card-description {
                            color: #027e9a;
                            font-family: "Quicksand";
                            font-weight: 400;
                            display: inline-flex;
                        }
                    }
                }
            }
        }
    }
}

.titleWrapper {
    margin-bottom: 20px;
    text-align: center;
    height: 90px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    padding: 0;
    line-height: 80px;
    position: relative;
    word-space: 4em;
    letter-spacing: 0.05em;
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-family: "Pacifico";
    font-weight: 400;
}

h1 span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    transition: all 0.5s cubic-bezier(0.65, 0, 0.21, 1.47) 0.02s;
}

.titleWrapper.ready h1 span {
    transform: translateY(0%);
}

h1.first span {
    position: relative;
    z-index: 5;
}

h1.second span {
    position: relative;
    z-index: 1;
}



@while $num < 20 {
    h1.first span:nth-of-type(#{$num}) {
        transition-delay: 0.01s * $num;
    }

    h1.second span:nth-of-type(#{$num}) {
        transition-delay: 0.02s * $num + 0.05;
    }

    $num: $num+1;
}

.titleWrapper.ready:hover h1.first span {
    transform: translateY(-100%);
}

.titleWrapper.ready:hover h1.second span {
    transform: translateY(-100%);
}

.container {
    margin: 4em auto;
}

.inner-container {
    position: relative;
    max-width: 20%;
    min-width: 360px;
    height: 300px;
    width: 100%;
    margin: 0 auto 100px;
}

.content {
    position: absolute;
    opacity: 0;
    top: 2em;
    left: 10%;
    width: 80%;
    margin: 0 auto;
}

.active {
    display: block !important;
    margin: 0 auto;
    opacity: 1;
    transition: ease-in-out 1s;
}

.card-help {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 2em 0;
    height: 300px;
    box-sizing: border-box;
    transition: .3s ease;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.35);

    &:first-child,
    &:nth-child(2) {
        background: darken($aqua, 2%);
        height: 8px;
        border-radius: 5px 5px 0 0;
        padding: 0;
        box-shadow: none;
    }

    &:first-child {
        margin: 0 20px;
        background: darken($aqua, 6%);
    }

    &:nth-child(2) {
        margin: 0 10px;
    }

    .progress-container {
        background: rgba($blueberry, 0.2);
        height: 6px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0 0 5px 5px;

        .step {
            background-color: $blueberry;
            height: 6px;
            width: 33%;
            border-radius: 0 0 0 5px;
        }
    }

    .button {
        font-family: "Quicksand";
        font-weight: 400;
    }
}

.help {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: darken($aqua, 3%);
    margin: 0;
}

.p-help {
    margin-top: 0;
    font-family: "Quicksand";
    font-weight: 400;
}

a {
    color: $aqua;
    text-decoration: none;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 0;
        width: 0%;
        border-bottom: 2px solid $aqua;
        transition: 0.3s;
    }

    &:hover:before {
        width: 80%;
    }
}